In [137]:
pip install azure-storage-blob pandas numpy sqlalchemy

Requirement already satisfied: azure-storage-blob in c:\users\mario\anaconda3\lib\site-packages (12.20.0)
Requirement already satisfied: pandas in c:\users\mario\anaconda3\lib\site-packages (2.0.3)
Requirement already satisfied: numpy in c:\users\mario\anaconda3\lib\site-packages (1.24.3)
Requirement already satisfied: sqlalchemy in c:\users\mario\anaconda3\lib\site-packages (1.4.39)
Requirement already satisfied: azure-core>=1.28.0 in c:\users\mario\anaconda3\lib\site-packages (from azure-storage-blob) (1.30.1)
Requirement already satisfied: cryptography>=2.1.4 in c:\users\mario\anaconda3\lib\site-packages (from azure-storage-blob) (41.0.3)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\mario\anaconda3\lib\site-packages (from azure-storage-blob) (4.7.1)
Requirement already satisfied: isodate>=0.6.1 in c:\users\mario\anaconda3\lib\site-packages (from azure-storage-blob) (0.6.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\mario\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\mario\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\mario\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\mario\anaconda3\lib\site-packages (from sqlalchemy) (2.0.1)
Requirement already satisfied: requests>=2.21.0 in c:\users\mario\anaconda3\lib\site-packages (from azure-core>=1.28.0->azure-storage-blob) (2.31.0)
Requirement already satisfied: six>=1.11.0 in c:\users\mario\anaconda3\lib\site-packages (from azure-core>=1.28.0->azure-storage-blob) (1.16.0)
Requirement already satisfied: cffi>=1.12 in c:\users\mario\anaconda3\lib\site-packages (from cryptography>=2.1.4->azure-storage-blob) (1.15.1)
Requirement already satisfied: pycparser in c:\users\mario\anaconda3\lib\site-packages (from cffi>=1.12->cryptography>=2.1.4->azure-storage-blob) (2.21)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\mario\anaconda3\lib\site-packages (from requests>=2.21.0->azure-core>=1.28.0->azure-storage-blob) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\mario\anaconda3\lib\site-packages (from requests>=2.21.0->azure-core>=1.28.0->azure-storage-blob) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\mario\anaconda3\lib\site-packages (from requests>=2.21.0->azure-core>=1.28.0->azure-storage-blob) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\mario\anaconda3\lib\site-packages (from requests>=2.21.0->azure-core>=1.28.0->azure-storage-blob) (2023.7.22)
Note: you may need to restart the kernel to use updated packages.

In [35]:
import json
import pandas as pd
from io import StringIO
from azure.storage.blob import BlobServiceClient

# Specify the path to the JSON configuration file
config_file_path = "/Users/mario/OneDrive - The City University of New York/Baruch Spring 2024/Cis 9440/cis9440hw/config.json"

# Load the JSON configuration file
with open(config_file_path, 'r') as config_file:
    config = json.load(config_file)

# Extract the Azure Storage connection string, container name, and specific blob name from the config
CONNECTION_STRING_AZURE_STORAGE = config["azure_storage"]["connection_string"]
CONTAINER_AZURE = config["azure_storage"]["container_name"]
BLOB_NAME = config["azure_storage"]["blob_name"]

# Initialize the BlobServiceClient with the connection string
blob_service_client = BlobServiceClient.from_connection_string(CONNECTION_STRING_AZURE_STORAGE)

# Get the blob client for the specified blob within the container
blob_client = blob_service_client.get_blob_client(container=CONTAINER_AZURE, blob=BLOB_NAME)

# Download the blob data
blob_data = blob_client.download_blob()
blob_content = blob_data.readall().decode('utf-8')

# Load the blob content into a DataFrame
df = pd.read_csv(StringIO(blob_content))

# Display the blob name and the shape of the DataFrame
print(f"Blob processed: {BLOB_NAME}")
print(f"Shape of the DataFrame: {df.shape}")

Blob processed: nypd_shooting.csv
Shape of the DataFrame: (28562, 26)

In [46]:
nypd_shooting_df = df

In [47]:
nypd_shooting_df = df.copy()

In [48]:
print(nypd_shooting_df)

       incident_key               occur_date occur_time      boro  \
0         279709792  2023-12-29T00:00:00.000   21:22:00  BROOKLYN
1         279758069  2023-12-29T00:00:00.000   18:40:00     BRONX
2         279683077  2023-12-29T00:00:00.000   03:43:00    QUEENS
3         279609499  2023-12-27T00:00:00.000   19:47:00     BRONX
4         279547333  2023-12-26T00:00:00.000   23:43:00    QUEENS
...             ...                      ...        ...       ...
28557       9953248  2006-01-01T00:00:00.000   19:00:00    QUEENS
28558     139716503  2006-01-01T00:00:00.000   12:30:00  BROOKLYN
28559       9953247  2006-01-01T00:00:00.000   03:30:00  BROOKLYN
28560       9953250  2006-01-01T00:00:00.000   02:34:00    QUEENS
28561       9953250  2006-01-01T00:00:00.000   02:34:00    QUEENS

      loc_of_occur_desc  precinct  jurisdiction_code loc_classfctn_desc  \
0               OUTSIDE        75                0.0             STREET
1               OUTSIDE        40                0.0             STREET
2                INSIDE       113                0.0         COMMERCIAL
3               OUTSIDE        42                0.0             STREET
4               OUTSIDE       106                0.0             STREET
...                 ...       ...                ...                ...
28557               NaN       106                0.0                NaN
28558               NaN        77                0.0                NaN
28559               NaN        67                0.0                NaN
28560               NaN       114                0.0                NaN
28561               NaN       114                0.0                NaN

          location_desc  statistical_murder_flag  ...    x_coord_cd  \
0                (null)                    False  ...  1.018514e+06
1                (null)                    False  ...  1.010564e+06
2      RESTAURANT/DINER                    False  ...  1.047268e+06
3                (null)                    False  ...  1.015730e+06
4                (null)                     True  ...  1.034904e+06
...                 ...                      ...  ...           ...
28557              NONE                    False  ...  1.028605e+06
28558         PVT HOUSE                     True  ...  9.964416e+05
28559               NaN                    False  ...  9.993160e+05
28560    BAR/NIGHT CLUB                     True  ...  1.002577e+06
28561    BAR/NIGHT CLUB                     True  ...  1.002577e+06

          y_coord_cd   latitude  longitude  \
0      178646.000000  40.656953 -73.876507
1      235262.000000  40.812379 -73.904940
2      189119.000000  40.685543 -73.772774
3      240807.000000  40.827580 -73.886248
4      190307.000000  40.688883 -73.817347
...              ...        ...        ...
28557  187929.500000  40.682397 -73.840081
28558  184160.359375  40.672154 -73.956052
28559  176460.000000  40.651014 -73.945707
28560  221583.453125  40.774861 -73.933833
28561  221583.453125  40.774861 -73.933833

                                         geocoded_column  \
0      {'type': 'Point', 'coordinates': [-73.876507, ...
1      {'type': 'Point', 'coordinates': [-73.90494, 4...
2      {'type': 'Point', 'coordinates': [-73.772774, ...
3      {'type': 'Point', 'coordinates': [-73.886248, ...
4      {'type': 'Point', 'coordinates': [-73.817347, ...
...                                                  ...
28557  {'type': 'Point', 'coordinates': [-73.84008072...
28558  {'type': 'Point', 'coordinates': [-73.95605150...
28559  {'type': 'Point', 'coordinates': [-73.94570651...
28560  {'type': 'Point', 'coordinates': [-73.93383258...
28561  {'type': 'Point', 'coordinates': [-73.93383258...

      :@computed_region_yeji_bk3q  :@computed_region_92fq_4b7q  \
0                             2.0                         25.0
1                             5.0                         35.0
2                             3.0                          6.0
3                             5.0                         43.0
4                             3.0                         46.0
...                           ...                          ...
28557                         3.0                         41.0
28558                         2.0                         48.0
28559                         2.0                         11.0
28560                         3.0                          4.0
28561                         3.0                          4.0

       :@computed_region_sbqj_enih  :@computed_region_efsh_h5xi  \
0                             47.0                      17215.0
1                             23.0                      10933.0
2                             71.0                      24669.0
3                             25.0                      10937.0
4                             64.0                      24015.0
...                            ...                          ...
28557                         64.0                      24013.0
28558                         49.0                      17618.0
28559                         40.0                      16866.0
28560                         72.0                      16859.0
28561                         72.0                      16859.0

       :@computed_region_f5dn_yrer
0                             45.0
1                             49.0
2                             41.0
3                             34.0
4                             62.0
...                            ...
28557                         62.0
28558                         16.0
28559                         61.0
28560                         39.0
28561                         39.0

[28562 rows x 26 columns]

In [49]:
print(nypd_shooting_df.columns)

Index(['incident_key', 'occur_date', 'occur_time', 'boro', 'loc_of_occur_desc',
       'precinct', 'jurisdiction_code', 'loc_classfctn_desc', 'location_desc',
       'statistical_murder_flag', 'perp_age_group', 'perp_sex', 'perp_race',
       'vic_age_group', 'vic_sex', 'vic_race', 'x_coord_cd', 'y_coord_cd',
       'latitude', 'longitude', 'geocoded_column',
       ':@computed_region_yeji_bk3q', ':@computed_region_92fq_4b7q',
       ':@computed_region_sbqj_enih', ':@computed_region_efsh_h5xi',
       ':@computed_region_f5dn_yrer'],
      dtype='object')

In [52]:
columns_to_drop = nypd_shooting_df.columns[nypd_shooting_df.columns.get_loc('x_coord_cd'):]

nypd_shooting_df = nypd_shooting_df.drop(columns=columns_to_drop)

In [53]:
print(nypd_shooting_df.columns)

Index(['incident_key', 'occur_date', 'occur_time', 'boro', 'loc_of_occur_desc',
       'precinct', 'jurisdiction_code', 'loc_classfctn_desc', 'location_desc',
       'statistical_murder_flag', 'perp_age_group', 'perp_sex', 'perp_race',
       'vic_age_group', 'vic_sex', 'vic_race'],
      dtype='object')

In [54]:
print(nypd_shooting_df)

       incident_key               occur_date occur_time      boro  \
0         279709792  2023-12-29T00:00:00.000   21:22:00  BROOKLYN
1         279758069  2023-12-29T00:00:00.000   18:40:00     BRONX
2         279683077  2023-12-29T00:00:00.000   03:43:00    QUEENS
3         279609499  2023-12-27T00:00:00.000   19:47:00     BRONX
4         279547333  2023-12-26T00:00:00.000   23:43:00    QUEENS
...             ...                      ...        ...       ...
28557       9953248  2006-01-01T00:00:00.000   19:00:00    QUEENS
28558     139716503  2006-01-01T00:00:00.000   12:30:00  BROOKLYN
28559       9953247  2006-01-01T00:00:00.000   03:30:00  BROOKLYN
28560       9953250  2006-01-01T00:00:00.000   02:34:00    QUEENS
28561       9953250  2006-01-01T00:00:00.000   02:34:00    QUEENS

      loc_of_occur_desc  precinct  jurisdiction_code loc_classfctn_desc  \
0               OUTSIDE        75                0.0             STREET
1               OUTSIDE        40                0.0             STREET
2                INSIDE       113                0.0         COMMERCIAL
3               OUTSIDE        42                0.0             STREET
4               OUTSIDE       106                0.0             STREET
...                 ...       ...                ...                ...
28557               NaN       106                0.0                NaN
28558               NaN        77                0.0                NaN
28559               NaN        67                0.0                NaN
28560               NaN       114                0.0                NaN
28561               NaN       114                0.0                NaN

          location_desc  statistical_murder_flag perp_age_group perp_sex  \
0                (null)                    False          25-44        M
1                (null)                    False         (null)   (null)
2      RESTAURANT/DINER                    False         (null)   (null)
3                (null)                    False         (null)   (null)
4                (null)                     True         (null)   (null)
...                 ...                      ...            ...      ...
28557              NONE                    False          18-24        M
28558         PVT HOUSE                     True            NaN      NaN
28559               NaN                    False        UNKNOWN        U
28560    BAR/NIGHT CLUB                     True          18-24        M
28561    BAR/NIGHT CLUB                     True          25-44        M

      perp_race vic_age_group vic_sex        vic_race
0         BLACK         25-44       M           BLACK
1        (null)           65+       M  BLACK HISPANIC
2        (null)         25-44       M           BLACK
3        (null)           <18       M  BLACK HISPANIC
4        (null)         25-44       F  BLACK HISPANIC
...         ...           ...     ...             ...
28557     BLACK         18-24       M           BLACK
28558       NaN         25-44       M           BLACK
28559   UNKNOWN         18-24       M           BLACK
28560     BLACK         25-44       M           BLACK
28561     BLACK         25-44       M           BLACK

[28562 rows x 16 columns]

In [55]:
nypd_shooting_df.head()

,incident_key,occur_date,occur_time,boro,loc_of_occur_desc,precinct,jurisdiction_code,loc_classfctn_desc,location_desc,statistical_murder_flag,perp_age_group,perp_sex,perp_race,vic_age_group,vic_sex,vic_race
0,279709792,2023-12-29T00:00:00.000,21:22:00,BROOKLYN,OUTSIDE,75,0.0,STREET,(null),False,25-44,M,BLACK,25-44,M,BLACK
1,279758069,2023-12-29T00:00:00.000,18:40:00,BRONX,OUTSIDE,40,0.0,STREET,(null),False,(null),(null),(null),65+,M,BLACK HISPANIC
2,279683077,2023-12-29T00:00:00.000,03:43:00,QUEENS,INSIDE,113,0.0,COMMERCIAL,RESTAURANT/DINER,False,(null),(null),(null),25-44,M,BLACK
3,279609499,2023-12-27T00:00:00.000,19:47:00,BRONX,OUTSIDE,42,0.0,STREET,(null),False,(null),(null),(null),<18,M,BLACK HISPANIC
4,279547333,2023-12-26T00:00:00.000,23:43:00,QUEENS,OUTSIDE,106,0.0,STREET,(null),True,(null),(null),(null),25-44,F,BLACK HISPANIC

In [56]:
nypd_shooting_df = nypd_shooting_df.drop(columns=['loc_classfctn_desc', 'loc_of_occur_desc'])

In [57]:
print(nypd_shooting_df)

       incident_key               occur_date occur_time      boro  precinct  \
0         279709792  2023-12-29T00:00:00.000   21:22:00  BROOKLYN        75
1         279758069  2023-12-29T00:00:00.000   18:40:00     BRONX        40
2         279683077  2023-12-29T00:00:00.000   03:43:00    QUEENS       113
3         279609499  2023-12-27T00:00:00.000   19:47:00     BRONX        42
4         279547333  2023-12-26T00:00:00.000   23:43:00    QUEENS       106
...             ...                      ...        ...       ...       ...
28557       9953248  2006-01-01T00:00:00.000   19:00:00    QUEENS       106
28558     139716503  2006-01-01T00:00:00.000   12:30:00  BROOKLYN        77
28559       9953247  2006-01-01T00:00:00.000   03:30:00  BROOKLYN        67
28560       9953250  2006-01-01T00:00:00.000   02:34:00    QUEENS       114
28561       9953250  2006-01-01T00:00:00.000   02:34:00    QUEENS       114

       jurisdiction_code     location_desc  statistical_murder_flag  \
0                    0.0            (null)                    False
1                    0.0            (null)                    False
2                    0.0  RESTAURANT/DINER                    False
3                    0.0            (null)                    False
4                    0.0            (null)                     True
...                  ...               ...                      ...
28557                0.0              NONE                    False
28558                0.0         PVT HOUSE                     True
28559                0.0               NaN                    False
28560                0.0    BAR/NIGHT CLUB                     True
28561                0.0    BAR/NIGHT CLUB                     True

      perp_age_group perp_sex perp_race vic_age_group vic_sex        vic_race
0              25-44        M     BLACK         25-44       M           BLACK
1             (null)   (null)    (null)           65+       M  BLACK HISPANIC
2             (null)   (null)    (null)         25-44       M           BLACK
3             (null)   (null)    (null)           <18       M  BLACK HISPANIC
4             (null)   (null)    (null)         25-44       F  BLACK HISPANIC
...              ...      ...       ...           ...     ...             ...
28557          18-24        M     BLACK         18-24       M           BLACK
28558            NaN      NaN       NaN         25-44       M           BLACK
28559        UNKNOWN        U   UNKNOWN         18-24       M           BLACK
28560          18-24        M     BLACK         25-44       M           BLACK
28561          25-44        M     BLACK         25-44       M           BLACK

[28562 rows x 14 columns]

In [58]:
nypd_shooting_df = nypd_shooting_df.drop(columns=['statistical_murder_flag'])

In [59]:
print(nypd_shooting_df)

       incident_key               occur_date occur_time      boro  precinct  \
0         279709792  2023-12-29T00:00:00.000   21:22:00  BROOKLYN        75
1         279758069  2023-12-29T00:00:00.000   18:40:00     BRONX        40
2         279683077  2023-12-29T00:00:00.000   03:43:00    QUEENS       113
3         279609499  2023-12-27T00:00:00.000   19:47:00     BRONX        42
4         279547333  2023-12-26T00:00:00.000   23:43:00    QUEENS       106
...             ...                      ...        ...       ...       ...
28557       9953248  2006-01-01T00:00:00.000   19:00:00    QUEENS       106
28558     139716503  2006-01-01T00:00:00.000   12:30:00  BROOKLYN        77
28559       9953247  2006-01-01T00:00:00.000   03:30:00  BROOKLYN        67
28560       9953250  2006-01-01T00:00:00.000   02:34:00    QUEENS       114
28561       9953250  2006-01-01T00:00:00.000   02:34:00    QUEENS       114

       jurisdiction_code     location_desc perp_age_group perp_sex perp_race  \
0                    0.0            (null)          25-44        M     BLACK
1                    0.0            (null)         (null)   (null)    (null)
2                    0.0  RESTAURANT/DINER         (null)   (null)    (null)
3                    0.0            (null)         (null)   (null)    (null)
4                    0.0            (null)         (null)   (null)    (null)
...                  ...               ...            ...      ...       ...
28557                0.0              NONE          18-24        M     BLACK
28558                0.0         PVT HOUSE            NaN      NaN       NaN
28559                0.0               NaN        UNKNOWN        U   UNKNOWN
28560                0.0    BAR/NIGHT CLUB          18-24        M     BLACK
28561                0.0    BAR/NIGHT CLUB          25-44        M     BLACK

      vic_age_group vic_sex        vic_race
0             25-44       M           BLACK
1               65+       M  BLACK HISPANIC
2             25-44       M           BLACK
3               <18       M  BLACK HISPANIC
4             25-44       F  BLACK HISPANIC
...             ...     ...             ...
28557         18-24       M           BLACK
28558         25-44       M           BLACK
28559         18-24       M           BLACK
28560         25-44       M           BLACK
28561         25-44       M           BLACK

[28562 rows x 13 columns]

In [62]:
# Assuming nypd_shooting_df is your DataFrame
nypd_shooting_df = nypd_shooting_df.fillna('')

# To confirm the changes or view part of the DataFrame
print(nypd_shooting_df.head())

   incident_key               occur_date occur_time      boro  precinct  \
0     279709792  2023-12-29T00:00:00.000   21:22:00  BROOKLYN        75
1     279758069  2023-12-29T00:00:00.000   18:40:00     BRONX        40
2     279683077  2023-12-29T00:00:00.000   03:43:00    QUEENS       113
3     279609499  2023-12-27T00:00:00.000   19:47:00     BRONX        42
4     279547333  2023-12-26T00:00:00.000   23:43:00    QUEENS       106

  jurisdiction_code     location_desc perp_age_group perp_sex perp_race  \
0               0.0            (null)          25-44        M     BLACK
1               0.0            (null)         (null)   (null)    (null)
2               0.0  RESTAURANT/DINER         (null)   (null)    (null)
3               0.0            (null)         (null)   (null)    (null)
4               0.0            (null)         (null)   (null)    (null)

  vic_age_group vic_sex        vic_race
0         25-44       M           BLACK
1           65+       M  BLACK HISPANIC
2         25-44       M           BLACK
3           <18       M  BLACK HISPANIC
4         25-44       F  BLACK HISPANIC

In [63]:
print(nypd_shooting_df.shape)

(28562, 13)

In [64]:
# Replace '(null)' with an empty string in the entire DataFrame
nypd_shooting_df = nypd_shooting_df.replace('(null)', '')

# To verify the changes, you can print part of the DataFrame
print(nypd_shooting_df.head())

   incident_key               occur_date occur_time      boro  precinct  \
0     279709792  2023-12-29T00:00:00.000   21:22:00  BROOKLYN        75
1     279758069  2023-12-29T00:00:00.000   18:40:00     BRONX        40
2     279683077  2023-12-29T00:00:00.000   03:43:00    QUEENS       113
3     279609499  2023-12-27T00:00:00.000   19:47:00     BRONX        42
4     279547333  2023-12-26T00:00:00.000   23:43:00    QUEENS       106

  jurisdiction_code     location_desc perp_age_group perp_sex perp_race  \
0               0.0                            25-44        M     BLACK
1               0.0
2               0.0  RESTAURANT/DINER
3               0.0
4               0.0

  vic_age_group vic_sex        vic_race
0         25-44       M           BLACK
1           65+       M  BLACK HISPANIC
2         25-44       M           BLACK
3           <18       M  BLACK HISPANIC
4         25-44       F  BLACK HISPANIC

In [71]:
# Sample setup from your snippet, assuming nypd_shooting_df is predefined
location_dimension_df = nypd_shooting_df[['boro', 'precinct', 'jurisdiction_code', 'location_desc']].copy()
location_dimension_df['location_id'] = np.arange(1, len(location_dimension_df) + 1)

# Setting the data types correctly
location_dimension_df['location_id'] = location_dimension_df['location_id'].astype('int64')
location_dimension_df['boro'] = location_dimension_df['boro'].astype('string')
location_dimension_df['precinct'] = location_dimension_df['precinct'].astype('string')  # corrected to integer
location_dimension_df['jurisdiction_code'] = location_dimension_df['jurisdiction_code'].astype('string')  # corrected to integer
location_dimension_df['location_desc'] = location_dimension_df['location_desc'].astype('string')

# Reorder columns to make 'location_id' the first column
cols = ['location_id'] + [col for col in location_dimension_df if col != 'location_id']
location_dimension_df = location_dimension_df[cols]

# Display the DataFrame structure and the first few rows to verify
print(location_dimension_df.info())
print(location_dimension_df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28562 entries, 0 to 28561
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   location_id        28562 non-null  int64
 1   boro               28562 non-null  string
 2   precinct           28562 non-null  string
 3   jurisdiction_code  28562 non-null  string
 4   location_desc      28562 non-null  string
dtypes: int64(1), string(4)
memory usage: 1.1 MB
None
   location_id      boro precinct jurisdiction_code     location_desc
0            1  BROOKLYN       75               0.0
1            2     BRONX       40               0.0
2            3    QUEENS      113               0.0  RESTAURANT/DINER
3            4     BRONX       42               0.0
4            5    QUEENS      106               0.0

In [72]:
dim_location = location_dimension_df

In [73]:
print(dim_location)

       location_id      boro precinct jurisdiction_code     location_desc
0                1  BROOKLYN       75               0.0
1                2     BRONX       40               0.0
2                3    QUEENS      113               0.0  RESTAURANT/DINER
3                4     BRONX       42               0.0
4                5    QUEENS      106               0.0
...            ...       ...      ...               ...               ...
28557        28558    QUEENS      106               0.0              NONE
28558        28559  BROOKLYN       77               0.0         PVT HOUSE
28559        28560  BROOKLYN       67               0.0
28560        28561    QUEENS      114               0.0    BAR/NIGHT CLUB
28561        28562    QUEENS      114               0.0    BAR/NIGHT CLUB

[28562 rows x 5 columns]

In [74]:
print(nypd_shooting_df.columns)

Index(['incident_key', 'occur_date', 'occur_time', 'boro', 'precinct',
       'jurisdiction_code', 'location_desc', 'perp_age_group', 'perp_sex',
       'perp_race', 'vic_age_group', 'vic_sex', 'vic_race'],
      dtype='object')

In [75]:
# Select the required columns
perpetrator_dimension_df = nypd_shooting_df[['perp_age_group', 'perp_sex', 'perp_race']].copy()

# Create a primary key column 'perp_id'
# Assuming you want a simple auto-increment integer starting from 1
perpetrator_dimension_df['perp_id'] = np.arange(1, len(perpetrator_dimension_df) + 1)

# Set the data types
perpetrator_dimension_df['perp_id'] = perpetrator_dimension_df['perp_id'].astype('int64')  # bigint equivalent in pandas
perpetrator_dimension_df['perp_age_group'] = perpetrator_dimension_df['perp_age_group'].astype('string')  # varchar equivalent
perpetrator_dimension_df['perp_sex'] = perpetrator_dimension_df['perp_sex'].astype('string')  # varchar equivalent
perpetrator_dimension_df['perp_race'] = perpetrator_dimension_df['perp_race'].astype('string')  # varchar equivalent

# Reorder columns to make 'perp_id' the first column
cols = ['perp_id'] + [col for col in perpetrator_dimension_df.columns if col != 'perp_id']
perpetrator_dimension_df = perpetrator_dimension_df[cols]

# Display the DataFrame structure
print(perpetrator_dimension_df.info())
print(perpetrator_dimension_df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28562 entries, 0 to 28561
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   perp_id         28562 non-null  int64
 1   perp_age_group  28562 non-null  string
 2   perp_sex        28562 non-null  string
 3   perp_race       28562 non-null  string
dtypes: int64(1), string(3)
memory usage: 892.7 KB
None
   perp_id perp_age_group perp_sex perp_race
0        1          25-44        M     BLACK
1        2
2        3
3        4
4        5

In [77]:
dim_perpetrator = perpetrator_dimension_df

In [78]:
print(dim_perpetrator)

       perp_id perp_age_group perp_sex perp_race
0            1          25-44        M     BLACK
1            2
2            3
3            4
4            5
...        ...            ...      ...       ...
28557    28558          18-24        M     BLACK
28558    28559
28559    28560        UNKNOWN        U   UNKNOWN
28560    28561          18-24        M     BLACK
28561    28562          25-44        M     BLACK

[28562 rows x 4 columns]

In [79]:
# Select the required columns
victim_dimension_df = nypd_shooting_df[['vic_age_group', 'vic_sex', 'vic_race']].copy()

# Create a primary key column 'vic_id'
# Assuming you want a simple auto-increment integer starting from 1
victim_dimension_df['vic_id'] = np.arange(1, len(victim_dimension_df) + 1)

# Set the data types
victim_dimension_df['vic_id'] = victim_dimension_df['vic_id'].astype('int64')  # bigint equivalent in pandas
victim_dimension_df['vic_age_group'] = victim_dimension_df['vic_age_group'].astype('string')  # varchar equivalent
victim_dimension_df['vic_sex'] = victim_dimension_df['vic_sex'].astype('string')  # varchar equivalent
victim_dimension_df['vic_race'] = victim_dimension_df['vic_race'].astype('string')  # varchar equivalent

# Reorder columns to make 'vic_id' the first column
cols = ['vic_id'] + [col for col in victim_dimension_df.columns if col != 'vic_id']
victim_dimension_df = victim_dimension_df[cols]

# Display the DataFrame structure
print(victim_dimension_df.info())
print(victim_dimension_df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28562 entries, 0 to 28561
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   vic_id         28562 non-null  int64
 1   vic_age_group  28562 non-null  string
 2   vic_sex        28562 non-null  string
 3   vic_race       28562 non-null  string
dtypes: int64(1), string(3)
memory usage: 892.7 KB
None
   vic_id vic_age_group vic_sex        vic_race
0       1         25-44       M           BLACK
1       2           65+       M  BLACK HISPANIC
2       3         25-44       M           BLACK
3       4           <18       M  BLACK HISPANIC
4       5         25-44       F  BLACK HISPANIC

In [81]:
dim_victim = victim_dimension_df

In [82]:
print(dim_victim)

       vic_id vic_age_group vic_sex        vic_race
0           1         25-44       M           BLACK
1           2           65+       M  BLACK HISPANIC
2           3         25-44       M           BLACK
3           4           <18       M  BLACK HISPANIC
4           5         25-44       F  BLACK HISPANIC
...       ...           ...     ...             ...
28557   28558         18-24       M           BLACK
28558   28559         25-44       M           BLACK
28559   28560         18-24       M           BLACK
28560   28561         25-44       M           BLACK
28561   28562         25-44       M           BLACK

[28562 rows x 4 columns]

In [83]:
# Select the required columns
date_dimension_df = nypd_shooting_df[['occur_date', 'occur_time']].copy()

# Create a primary key column 'date_id'
# Assuming you want a simple auto-increment integer starting from 1
date_dimension_df['date_id'] = np.arange(1, len(date_dimension_df) + 1)

# Set the data types
date_dimension_df['date_id'] = date_dimension_df['date_id'].astype('int64')  # bigint equivalent in pandas
date_dimension_df['occur_date'] = date_dimension_df['occur_date'].astype('string')  # varchar equivalent
date_dimension_df['occur_time'] = date_dimension_df['occur_time'].astype('string')  # varchar equivalent

# Reorder columns to make 'date_id' the first column
cols = ['date_id'] + [col for col in date_dimension_df.columns if col != 'date_id']
date_dimension_df = date_dimension_df[cols]

# Display the DataFrame structure
print(date_dimension_df.info())
print(date_dimension_df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28562 entries, 0 to 28561
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date_id     28562 non-null  int64
 1   occur_date  28562 non-null  string
 2   occur_time  28562 non-null  string
dtypes: int64(1), string(2)
memory usage: 669.6 KB
None
   date_id               occur_date occur_time
0        1  2023-12-29T00:00:00.000   21:22:00
1        2  2023-12-29T00:00:00.000   18:40:00
2        3  2023-12-29T00:00:00.000   03:43:00
3        4  2023-12-27T00:00:00.000   19:47:00
4        5  2023-12-26T00:00:00.000   23:43:00

In [84]:
dim_date = date_dimension_df
print(dim_date)

       date_id               occur_date occur_time
0            1  2023-12-29T00:00:00.000   21:22:00
1            2  2023-12-29T00:00:00.000   18:40:00
2            3  2023-12-29T00:00:00.000   03:43:00
3            4  2023-12-27T00:00:00.000   19:47:00
4            5  2023-12-26T00:00:00.000   23:43:00
...        ...                      ...        ...
28557    28558  2006-01-01T00:00:00.000   19:00:00
28558    28559  2006-01-01T00:00:00.000   12:30:00
28559    28560  2006-01-01T00:00:00.000   03:30:00
28560    28561  2006-01-01T00:00:00.000   02:34:00
28561    28562  2006-01-01T00:00:00.000   02:34:00

[28562 rows x 3 columns]

In [88]:
dim_date['occur_date'] = pd.to_datetime(dim_date['occur_date'])

In [89]:
print(dim_date['occur_date'].head())

0   2023-12-29
1   2023-12-29
2   2023-12-29
3   2023-12-27
4   2023-12-26
Name: occur_date, dtype: datetime64[ns]

In [90]:
dim_date['occur_date'] = dim_date['occur_date'].dt.date

In [91]:
print(dim_date)

       date_id  occur_date occur_time
0            1  2023-12-29   21:22:00
1            2  2023-12-29   18:40:00
2            3  2023-12-29   03:43:00
3            4  2023-12-27   19:47:00
4            5  2023-12-26   23:43:00
...        ...         ...        ...
28557    28558  2006-01-01   19:00:00
28558    28559  2006-01-01   12:30:00
28559    28560  2006-01-01   03:30:00
28560    28561  2006-01-01   02:34:00
28561    28562  2006-01-01   02:34:00

[28562 rows x 3 columns]

In [97]:
import datetime
from datetime import datetime

In [104]:
print(dim_date)

       date_id occur_date occur_time  year  quarter  month  day  week  \
0            1 2023-12-29   21:22:00  2023        4     12   29    52
1            2 2023-12-29   18:40:00  2023        4     12   29    52
2            3 2023-12-29   03:43:00  2023        4     12   29    52
3            4 2023-12-27   19:47:00  2023        4     12   27    52
4            5 2023-12-26   23:43:00  2023        4     12   26    52
...        ...        ...        ...   ...      ...    ...  ...   ...
28557    28558 2006-01-01   19:00:00  2006        1      1    1    52
28558    28559 2006-01-01   12:30:00  2006        1      1    1    52
28559    28560 2006-01-01   03:30:00  2006        1      1    1    52
28560    28561 2006-01-01   02:34:00  2006        1      1    1    52
28561    28562 2006-01-01   02:34:00  2006        1      1    1    52

         weekday  year_num  quarter_num  month_num  day_num  week_num  \
0         Friday      2023            4         12       29        52
1         Friday      2023            4         12       29        52
2         Friday      2023            4         12       29        52
3      Wednesday      2023            4         12       27        52
4        Tuesday      2023            4         12       26        52
...          ...       ...          ...        ...      ...       ...
28557     Sunday      2006            1          1        1        52
28558     Sunday      2006            1          1        1        52
28559     Sunday      2006            1          1        1        52
28560     Sunday      2006            1          1        1        52
28561     Sunday      2006            1          1        1        52

        day_week
0         Friday
1         Friday
2         Friday
3      Wednesday
4        Tuesday
...          ...
28557     Sunday
28558     Sunday
28559     Sunday
28560     Sunday
28561     Sunday

[28562 rows x 15 columns]

In [105]:
# Assuming 'dim_date' is your DataFrame and 'occur_date' is in a string format that needs conversion
try:
    # Convert 'occur_date' to datetime format, handling errors
    dim_date['occur_date'] = pd.to_datetime(dim_date['occur_date'], errors='coerce')
except Exception as e:
    print(f"Error converting to datetime: {e}")

# Check if the conversion was successful by checking for non-null datetime objects
if dim_date['occur_date'].isnull().any():
    print("Warning: Some 'occur_date' entries could not be converted and are set as NaT.")

# Split 'occur_date' into separate columns for year, quarter, month, and day
dim_date['year_num'] = dim_date['occur_date'].dt.year
dim_date['quarter_num'] = dim_date['occur_date'].dt.quarter
dim_date['month_num'] = dim_date['occur_date'].dt.month
dim_date['day_num'] = dim_date['occur_date'].dt.day

# Optionally, add a week and weekday name for more detailed analysis
dim_date['week_num'] = dim_date['occur_date'].dt.isocalendar().week
dim_date['day_week'] = dim_date['occur_date'].dt.strftime('%A')

# Display the updated DataFrame to verify new columns
print(dim_date.head())

   date_id occur_date occur_time  year  quarter  month  day  week    weekday  \
0        1 2023-12-29   21:22:00  2023        4     12   29    52     Friday
1        2 2023-12-29   18:40:00  2023        4     12   29    52     Friday
2        3 2023-12-29   03:43:00  2023        4     12   29    52     Friday
3        4 2023-12-27   19:47:00  2023        4     12   27    52  Wednesday
4        5 2023-12-26   23:43:00  2023        4     12   26    52    Tuesday

   year_num  quarter_num  month_num  day_num  week_num   day_week
0      2023            4         12       29        52     Friday
1      2023            4         12       29        52     Friday
2      2023            4         12       29        52     Friday
3      2023            4         12       27        52  Wednesday
4      2023            4         12       26        52    Tuesday

In [106]:
print(dim_date)

       date_id occur_date occur_time  year  quarter  month  day  week  \
0            1 2023-12-29   21:22:00  2023        4     12   29    52
1            2 2023-12-29   18:40:00  2023        4     12   29    52
2            3 2023-12-29   03:43:00  2023        4     12   29    52
3            4 2023-12-27   19:47:00  2023        4     12   27    52
4            5 2023-12-26   23:43:00  2023        4     12   26    52
...        ...        ...        ...   ...      ...    ...  ...   ...
28557    28558 2006-01-01   19:00:00  2006        1      1    1    52
28558    28559 2006-01-01   12:30:00  2006        1      1    1    52
28559    28560 2006-01-01   03:30:00  2006        1      1    1    52
28560    28561 2006-01-01   02:34:00  2006        1      1    1    52
28561    28562 2006-01-01   02:34:00  2006        1      1    1    52

         weekday  year_num  quarter_num  month_num  day_num  week_num  \
0         Friday      2023            4         12       29        52
1         Friday      2023            4         12       29        52
2         Friday      2023            4         12       29        52
3      Wednesday      2023            4         12       27        52
4        Tuesday      2023            4         12       26        52
...          ...       ...          ...        ...      ...       ...
28557     Sunday      2006            1          1        1        52
28558     Sunday      2006            1          1        1        52
28559     Sunday      2006            1          1        1        52
28560     Sunday      2006            1          1        1        52
28561     Sunday      2006            1          1        1        52

        day_week
0         Friday
1         Friday
2         Friday
3      Wednesday
4        Tuesday
...          ...
28557     Sunday
28558     Sunday
28559     Sunday
28560     Sunday
28561     Sunday

[28562 rows x 15 columns]

In [107]:
# List of columns to be removed
columns_to_remove = ['year', 'quarter', 'month', 'day', 'week', 'weekday']

# Drop the specified columns
dim_date = dim_date.drop(columns=columns_to_remove)

# Display the updated DataFrame to verify that columns have been removed
print(dim_date.head())

   date_id occur_date occur_time  year_num  quarter_num  month_num  day_num  \
0        1 2023-12-29   21:22:00      2023            4         12       29
1        2 2023-12-29   18:40:00      2023            4         12       29
2        3 2023-12-29   03:43:00      2023            4         12       29
3        4 2023-12-27   19:47:00      2023            4         12       27
4        5 2023-12-26   23:43:00      2023            4         12       26

   week_num   day_week
0        52     Friday
1        52     Friday
2        52     Friday
3        52  Wednesday
4        52    Tuesday

In [108]:
# Slice the string to keep only "HH:MM"
dim_date['occur_time'] = dim_date['occur_time'].str.slice(0, 5)

# Display the updated DataFrame to verify changes
print(dim_date['occur_time'].head())

0    21:22
1    18:40
2    03:43
3    19:47
4    23:43
Name: occur_time, dtype: string

In [109]:
print(dim_date)

       date_id occur_date occur_time  year_num  quarter_num  month_num  \
0            1 2023-12-29      21:22      2023            4         12
1            2 2023-12-29      18:40      2023            4         12
2            3 2023-12-29      03:43      2023            4         12
3            4 2023-12-27      19:47      2023            4         12
4            5 2023-12-26      23:43      2023            4         12
...        ...        ...        ...       ...          ...        ...
28557    28558 2006-01-01      19:00      2006            1          1
28558    28559 2006-01-01      12:30      2006            1          1
28559    28560 2006-01-01      03:30      2006            1          1
28560    28561 2006-01-01      02:34      2006            1          1
28561    28562 2006-01-01      02:34      2006            1          1

       day_num  week_num   day_week
0           29        52     Friday
1           29        52     Friday
2           29        52     Friday
3           27        52  Wednesday
4           26        52    Tuesday
...        ...       ...        ...
28557        1        52     Sunday
28558        1        52     Sunday
28559        1        52     Sunday
28560        1        52     Sunday
28561        1        52     Sunday

[28562 rows x 9 columns]

In [111]:
print(nypd_shooting_df.columns)

Index(['incident_key', 'occur_date', 'occur_time', 'boro', 'precinct',
       'jurisdiction_code', 'location_desc', 'perp_age_group', 'perp_sex',
       'perp_race', 'vic_age_group', 'vic_sex', 'vic_race'],
      dtype='object')

In [112]:
# Rename the column 'incident_key' to 'fact_id'
nypd_shooting_df = nypd_shooting_df.rename(columns={'incident_key': 'fact_id'})

# Display the updated DataFrame to verify that the column name has been changed
print(nypd_shooting_df.head())

     fact_id               occur_date occur_time      boro  precinct  \
0  279709792  2023-12-29T00:00:00.000   21:22:00  BROOKLYN        75
1  279758069  2023-12-29T00:00:00.000   18:40:00     BRONX        40
2  279683077  2023-12-29T00:00:00.000   03:43:00    QUEENS       113
3  279609499  2023-12-27T00:00:00.000   19:47:00     BRONX        42
4  279547333  2023-12-26T00:00:00.000   23:43:00    QUEENS       106

  jurisdiction_code     location_desc perp_age_group perp_sex perp_race  \
0               0.0                            25-44        M     BLACK
1               0.0
2               0.0  RESTAURANT/DINER
3               0.0
4               0.0

  vic_age_group vic_sex        vic_race
0         25-44       M           BLACK
1           65+       M  BLACK HISPANIC
2         25-44       M           BLACK
3           <18       M  BLACK HISPANIC
4         25-44       F  BLACK HISPANIC

In [113]:
nypd_shooting_df['occur_date'] = pd.to_datetime(nypd_shooting_df['occur_date'])

In [114]:
print(nypd_shooting_df.head())

     fact_id occur_date occur_time      boro  precinct jurisdiction_code  \
0  279709792 2023-12-29   21:22:00  BROOKLYN        75               0.0
1  279758069 2023-12-29   18:40:00     BRONX        40               0.0
2  279683077 2023-12-29   03:43:00    QUEENS       113               0.0
3  279609499 2023-12-27   19:47:00     BRONX        42               0.0
4  279547333 2023-12-26   23:43:00    QUEENS       106               0.0

      location_desc perp_age_group perp_sex perp_race vic_age_group vic_sex  \
0                            25-44        M     BLACK         25-44       M
1                                                               65+       M
2  RESTAURANT/DINER                                           25-44       M
3                                                               <18       M
4                                                             25-44       F

         vic_race
0           BLACK
1  BLACK HISPANIC
2           BLACK
3  BLACK HISPANIC
4  BLACK HISPANIC

In [115]:
nypd_shooting_df['occur_time'] = nypd_shooting_df['occur_time'].str.slice(0, 5)

In [116]:
print(nypd_shooting_df.head())

     fact_id occur_date occur_time      boro  precinct jurisdiction_code  \
0  279709792 2023-12-29      21:22  BROOKLYN        75               0.0
1  279758069 2023-12-29      18:40     BRONX        40               0.0
2  279683077 2023-12-29      03:43    QUEENS       113               0.0
3  279609499 2023-12-27      19:47     BRONX        42               0.0
4  279547333 2023-12-26      23:43    QUEENS       106               0.0

      location_desc perp_age_group perp_sex perp_race vic_age_group vic_sex  \
0                            25-44        M     BLACK         25-44       M
1                                                               65+       M
2  RESTAURANT/DINER                                           25-44       M
3                                                               <18       M
4                                                             25-44       F

         vic_race
0           BLACK
1  BLACK HISPANIC
2           BLACK
3  BLACK HISPANIC
4  BLACK HISPANIC

In [117]:
nypd_shooting_df['date_id'] = pd.NA
nypd_shooting_df['location_id'] = pd.NA
nypd_shooting_df['perp_id'] = pd.NA
nypd_shooting_df['vic_id'] = pd.NA

In [126]:
# Get the index of 'vic_id' and all columns after it
col_index = nypd_shooting_df.columns.get_loc('vic_id') + 1  # +1 to start removing from the next column

# List of columns to drop
cols_to_drop = nypd_shooting_df.columns[col_index:]

# Drop the columns from the DataFrame
nypd_shooting_df.drop(columns=cols_to_drop, inplace=True)

# Display the DataFrame to verify the remaining columns
print(nypd_shooting_df.head())

     fact_id occur_date_x occur_time_x      boro  precinct jurisdiction_code  \
0  279709792   2023-12-29        21:22  BROOKLYN        75               0.0
1  279758069   2023-12-29        18:40     BRONX        40               0.0
2  279683077   2023-12-29        03:43    QUEENS       113               0.0
3  279609499   2023-12-27        19:47     BRONX        42               0.0
4  279547333   2023-12-26        23:43    QUEENS       106               0.0

      location_desc perp_age_group perp_sex perp_race vic_age_group vic_sex  \
0                            25-44        M     BLACK         25-44       M
1                                                               65+       M
2  RESTAURANT/DINER                                           25-44       M
3                                                               <18       M
4                                                             25-44       F

         vic_race  date_id location_id perp_id vic_id
0           BLACK      NaN        <NA>    <NA>   <NA>
1  BLACK HISPANIC      NaN        <NA>    <NA>   <NA>
2           BLACK      NaN        <NA>    <NA>   <NA>
3  BLACK HISPANIC      NaN        <NA>    <NA>   <NA>
4  BLACK HISPANIC      NaN        <NA>    <NA>   <NA>

In [132]:
print(nypd_shooting_df.columns)

Index(['fact_id', 'occur_date_x', 'occur_time_x', 'boro', 'precinct',
       'jurisdiction_code', 'location_desc', 'perp_age_group', 'perp_sex',
       'perp_race', 'vic_age_group', 'vic_sex', 'vic_race', 'date_id',
       'location_id', 'perp_id', 'vic_id'],
      dtype='object')

In [133]:
print(dim_date.columns)

Index(['date_id', 'occur_date', 'occur_time', 'year_num', 'quarter_num',
       'month_num', 'day_num', 'week_num', 'day_week'],
      dtype='object')

In [138]:
print(nypd_shooting_df.head())

     fact_id occur_date_x occur_time_x      boro  precinct jurisdiction_code  \
0  279709792   2023-12-29        21:22  BROOKLYN        75               0.0
1  279758069   2023-12-29        18:40     BRONX        40               0.0
2  279683077   2023-12-29        03:43    QUEENS       113               0.0
3  279609499   2023-12-27        19:47     BRONX        42               0.0
4  279547333   2023-12-26        23:43    QUEENS       106               0.0

      location_desc perp_age_group perp_sex perp_race vic_age_group vic_sex  \
0                            25-44        M     BLACK         25-44       M
1                                                               65+       M
2  RESTAURANT/DINER                                           25-44       M
3                                                               <18       M
4                                                             25-44       F

         vic_race  date_id location_id perp_id vic_id
0           BLACK      NaN        <NA>    <NA>   <NA>
1  BLACK HISPANIC      NaN        <NA>    <NA>   <NA>
2           BLACK      NaN        <NA>    <NA>   <NA>
3  BLACK HISPANIC      NaN        <NA>    <NA>   <NA>
4  BLACK HISPANIC      NaN        <NA>    <NA>   <NA>